<!DOCTYPE HTML>
<!--
	Prologue by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Receitas</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<style>
	hr {
		border-top: solid 1px #41484c;
		margin: auto 1.5em;
	}
</style>

<body class="is-preload">

	<!-- Header -->
	<div id="header">

		<div class="top">

			<!-- Logo -->
			<div id="logo">
				<h1 id="title">Cozinha Bruta</h1>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li>
						<a href="#top" id="top-link"><span class="icon solid fa-home">Intro</span></a>
					</li>

					<li>
						<a href="#sumario" id="sumario-link"><span class="fas fa-list">Sumário</span></a>
					</li>
					
					<hr />
				</ul>
			</nav>

		</div>

		<div class="bottom">

			<!-- Social Icons -->
			<ul class="icons">
				<li><a href="https://github.com/rafael-adcp/receitas.git" target="_blank"
						class="icon brands fa-github"><span class="label">Github</span></a></li>
				<li><a href="mailto:rafael_adcp@hotmail.com" class="icon solid fa-envelope"><span
							class="label">Email</span></a></li>
			</ul>

		</div>

	</div>

	<!-- Main -->
	<div id="main">

		<!-- Intro -->
		<section id="top" class="one dark cover">
			<div class="container">

				<header>
					
					<h2 class="alt"><strong>Cozinha Bruta</strong> <br />
					 (👨‍🍳 + 👩‍🍳) + (🍷 || 🍺) + 🎶 = <s>muita louça e
							bagunça</s> 🍲</h2>
					
				</header>
			</div>
		</section>
		
		<!-- Sumário -->
		<section id="sumario" class="one dark cover">
			<div class="container">
				<header>
					<h2>Sumário</h2>
				</header>
				{{#each receitas}}
					<li style="text-align: left;">
						<a href="#{{id}}" id="{{id}}-link"><span>{{titulo}}</span></a>
					</li>
				{{/each}}
			</div>
		</section>

		{{#each receitas}}
		<!-- Receitas -->
		<section id="{{id}}" class="{{cssClass}}">
			<!-- tem q alterar entre two e three pra mudar a cor do fundo -->
			<div class="container">

				<header>
					<h2>{{titulo}}</h2>
				</header>

				<p>{{descricao}}

					{{#if obs}}
					<br /><br />
					<b>Observação:</b> {{obs}}
					{{/if}}
				</p>

				<div class="row">
					<div class="col-sm">
						<header>
							<h3>Tempo de preparo: {{tempo_preparo}}</h3>
						</header>
					</div>
				</div>

				<div class="row">
					<div class="col-sm">
						<header>
							<h3>Fotos:</h3>
						</header>
					</div>
				</div>

				{{#each fotos}}
					{{#if openRow}}
						<div class="row">
					{{/if}}

					<div class="col-4 col-12-mobile">
						<article class="item">
							<a href="{{path}}" class="image fit"><img src="{{path}}" alt="" /></a>
							<header>
								<h3>{{titulo}}</h3>
							</header>
						</article>
					</div>

					{{#if closeRow}}
						</div>
					{{/if}}

				{{/each}}

				<div class="row">
					<div class="col-sm">
						<header style="text-align: left;">
							<h3>Ingredientes:</h3>
						</header>

						<ul style="text-align:left;">
							{{#each ingredientes}}
							<li>{{this}}</li>
							{{/each}}
						</ul>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<header style="text-align: left;">
							<h3>Modo de fazer:</h3>
						</header>

						<ul style="text-align:left;">
							{{#each preparo}}
							<li>{{this}}</li>
							{{/each}}
						</ul>
					</div>
				</div>


				{{#if fontes.length}}
				<div class="row">
					<div class="col-lg-12">
						<header style="text-align: left;">
							<h3>Fontes:</h3>
						</header>

						<ul style="text-align:left;">
							{{#each fontes}}
							<li>{{this}}</li>
							{{/each}}
						</ul>
					</div>
				</div>
				{{/if}}


			</div>
		</section>
		{{/each}}
	</div>

	<!-- Footer -->
	<div id="footer">

		<!-- Copyright -->
		<ul class="copyright">
			<li>&copy; All rights reserved.</li>
			<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			<li>Template: <a href="https://html5up.net/prologue">Prologue</a></li>

			
		</ul>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>